*{
    margin: 0;
    color: black;
    overflow: hidden;
    user-select: none;
}

header{
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
}
header img{
    margin-left: 10%;
    height: 120px;
}
header h1{
    text-align: center;
    font-size: xx-large;
    color: #EAEBED;
}
footer{
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
