header{
    background-color: #465362;
}
#main{  
    background-color: #BCB8B1;
    height: 1000px;
}
#mainButton {
    background-color: transparent;
    text-decoration: none;
    border: none;
    margin: 4%;
    transition: 0.5s ease ;
}
#mainButton a img{
    height: 300px;
}
#mainButton:hover{
    transform: scale(1.3);
}